<h2>m6 conversation 1<h2>

<p>Which state of the USA is Los Angeles in?
It's in California
Do you know anyone who's been there
Yes my cousin went there six months ago
What would you do if you visited there
I'd hang out in the city and look for celebrities
Who would you like to go there with
I'd like to go with my brother and sister
Where else in the us would you like to go to
I'd love to visit Seattle because it looks awesome
</p>