



<div class="conversation">
  <p><b>John:</b> 
  Which state of the USA is Los Angeles in?</p>
</div>

<div class="conversation darker">
  <p><b>Sarah:</b>
  It's in California</p>
</div>

<div class="conversation">
  <p><b>John:</b> 
  Do you know anyone who's been there</p>
</div>

<div class="conversation darker">
  <p><b>Sarah:</b>
  Yes my cousin went there six months ago</p>
</div>

<div class="conversation">
  <p><b>John:</b> 
  What would you do if you visited there</p>
</div>

<div class="conversation darker">
  <p><b>Sarah:</b>
  I'd hang out in the city and look for celebrities</p>
</div>

<div class="conversation">
  <p><b>John:</b> 
  Who would you like to go there with</p>
</div>

<div class="conversation darker">
  <p><b>Sarah:</b>
  I'd like to go with my brother and sister</p>
</div>

<div class="conversation">
  <p><b>John:</b> 
  Where else in the us would you like to go to</p>
</div>

<div class="conversation darker">
  <p><b>Sarah:</b>
  I'd love to visit Seattle because it looks awesome</p>
</div>

