<div class="container">

		<table>
			
			<tr>
				<th>
					<H2>M6 2019 Final Review</H2>
				</th>
			</tr>

			<tr>
				<th>
					<H4>Part 1</H4>
				</th>
			</tr>


			<tr>
				<td>
					data1
				</td>
			</tr>
	
			<tr>
				<th>
					<h4>Part 2</h4>
				</th>
			</tr>

			<tr>
				<td>
				data2
				</td>
			</tr>

			<tr>
				<th>
					<h4>Part 3</h4>
				</th>
			</tr>

			<tr>
				<td>
				 <%= render 'pages/m6/conversation1' %>
				</td>
			</tr>

			<tr>
				<th>
					<h4>Part 4</h4>
				</th>
			</tr>

			<tr>
				<td>
				data2
				</td>
			</tr>

			<tr>
				<th>
					<h4>Part 5</h4>
				</th>
			</tr>

			<tr>
				<td>
					<%= render 'pages/m6/vocabulary' %>
				</td>
			</tr>

</table>
	
</div>


