<div class="container">

<h2>m6 conversation 1<h2>

<p>Which state of the USA is Los Angeles in?</p>
<p>It's in California</p>
<p>Do you know anyone who's been there</p>
<p>Yes my cousin went there six months ago</p>
<p>What would you do if you visited there</p>
<p>I'd hang out in the city and look for celebrities</p>
<p>Who would you like to go there with</p>
<p>I'd like to go with my brother and sister</p>
<p>Where else in the us would you like to go to</p>
<p>I'd love to visit Seattle because it looks awesome</p>


</div>