
<div class="container">
conversation 1


<div class="container">
	<div class="row">

		<div class="col-md">	
			<%= link_to "&#8592; Back".html_safe, 'm3_final', :class=>"btn btn-lg btn-outline-primary btn-block " %>
		</div>

		<div class="col-md">
			<%= link_to "Home", '../home', :class=>"btn btn-lg btn-outline-primary btn-block " %>
		</div>


		
		<div class="col-md">	
			<%= link_to "Part 2 &#8594;".html_safe, 'conversation2', :class=>"btn btn-lg btn-outline-primary btn-block" %>	
		</div>

	</div>
</div>

</div>