


	<div class="container">

		<div class="row">
				<%= link_to "Part 1", 'conversation1', :class=>"btn btn-lg btn-outline-primary btn-block" %>
		</div>
		<div class="row">
			<%= link_to "Part 2", 'conversation2', :class=>"btn btn-lg btn-outline-primary btn-block" %>
		</div>

		<div class="row">	
				<%= link_to "Part 3", 'vocabulary', :class=>"btn btn-lg btn-outline-primary btn-block" %>
		</div>


	</div>
