<div class="container">

<div class="conversation darker">
  <p>If I won a lot of money, I'd have a big party.</p>
</div>

<div class="conversation darker">
  <p>If I could run really fast. I'd win an Olympic medal.</p>
</div>

<div class="conversation darker">
  <p>I wish I lived near the sea.</p>
</div>

<div class="conversation darker">
  <p>I'd swim in it every day.</p>
</div>

<div class="conversation darker">
  <p>I wish I could sing really well.</p>
</div>

<div class="conversation  darker">
  <p>I'd become a famous singer.</p>
</div>


</div>