<div class="container">
	<div class="card">
		<table>
			<tr>
				<td>disgusting</td>
				<td>bootleg</td>
				<td>massive</td>
				<td>---</td>
			</tr>

			<tr>
				<td>frost</td>
				<td>sightseeing</td>
				<td>explore</td>
				<td>erosion</td>
			</tr>

			<tr>
				<td>swat</td>
				<td>weird</td>
				<td>clone</td>
				<td>----------</td>
			</tr>

			<tr>
				<td>-----</td>
				<td>------</td>
				<td>------</td>
				<td>------</td>
			</tr>
		
		</table>
	</div>


	<div class="card">
<ul>

<li>Fish breath through their 
		<select>
			<option value="">-----</option>
  		<option value="gills">Gills</option>
 			<option value="fins">Fins</option>
 			<option value="cartilage">Cartilage</option>
 	 		<option value="bones">Bones</option>
		</select>
</li>

<li>Fish breath through their 
		<select>
			<option value="">-----</option>
  		<option value="gills">Gills</option>
 			<option value="fins">Fins</option>
 			<option value="cartilage">Cartilage</option>
 	 		<option value="bones">Bones</option>
		</select>
</li>

<li>Fish breath through their 
		<select>
			<option value="">-----</option>
  		<option value="gills">Gills</option>
 			<option value="fins">Fins</option>
 			<option value="cartilage">Cartilage</option>
 	 		<option value="bones">Bones</option>
		</select>
</li>

<li>Fish breath through their 
		<select>
			<option value="">-----</option>
  		<option value="gills">Gills</option>
 			<option value="fins">Fins</option>
 			<option value="cartilage">Cartilage</option>
 	 		<option value="bones">Bones</option>
		</select>
</li>

<li>Fish breath through their 
		<select>
			<option value="">-----</option>
  		<option value="gills">Gills</option>
 			<option value="fins">Fins</option>
 			<option value="cartilage">Cartilage</option>
 	 		<option value="bones">Bones</option>
		</select>
</li>

<li>Fish breath through their this is a test of a longer question as some of
		them can be really long.
		<select>
			<option value="">-----</option>
  		<option value="gills">Gills</option>
 			<option value="fins">Fins</option>
 			<option value="cartilage">Cartilage</option>
 	 		<option value="bones">Bones</option>
		</select>
</li>

<li>Fish breath through their 
		<select>
			<option value="">-----</option>
  		<option value="gills">Gills</option>
 			<option value="fins">Fins</option>
 			<option value="cartilage">Cartilage</option>
 	 		<option value="bones">Bones</option>
		</select>
</li>

<li>Fish breath through their 
		<select>
			<option value="">-----</option>
  		<option value="gills">Gills</option>
 			<option value="fins">Fins</option>
 			<option value="cartilage">Cartilage</option>
 	 		<option value="bones">Bones</option>
		</select>
</li>

<li>Fish breath through their 
		<select>
			<option value="">-----</option>
  		<option value="gills">Gills</option>
 			<option value="fins">Fins</option>
 			<option value="cartilage">Cartilage</option>
 	 		<option value="bones">Bones</option>
		</select>
</li>

<li>Fish breath through their 
		<select>
			<option value="">-----</option>
  		<option value="gills">Gills</option>
 			<option value="fins">Fins</option>
 			<option value="cartilage">Cartilage</option>
 	 		<option value="bones">Bones</option>
		</select>
</li>

<li>Fish breath through their 
		<select>
			<option value="">-----</option>
  		<option value="gills">Gills</option>
 			<option value="fins">Fins</option>
 			<option value="cartilage">Cartilage</option>
 	 		<option value="bones">Bones</option>
		</select>
</li>

</ul>

</div>

</div>