<div class="container">
	<h2>Conversation 1</h2>
<p>John: Hi Sarah. I have some questions for you about food and drink, is that ok?</p>
<p></p>
<p>Sarah: Yes, of course. Ask me anything at all.</p>
<p></p>
<p>John: OK, first, what kind of food do you like?</p>
<p></p>
<p>Sarah: I really like sandwiches and I love curry.</p>
<p></p>
<p>John: And, what kind of food don't you like?</p>
<p></p>
<p>Sarah: I don't like fish and I don't like cheese.</p>
<p></p>
<p>John: Do you prefer eating at home or eating out?</p>
<p></p>
<p>Sarah: I like eating at home best. It's more comfortable. But I go to restaurants sometimes.</p>
<p></p>
<p>John: What's your favourite restaurant?</p>
<p></p>
<p>Sarah: It's an Indian restaurant in the mall called Curry Heaven.</p>
<p></p>
<p>John: Who do you eat out with?</p>
<p></p>
<p>Sarah: Usually with my family and neighbours.</p>
<p></p>
<p>John: What's your favourite dessert?</p>
<p></p>
<p>Sarah: Probably strawberry ice cream!</p>
<p></p>
<p>John: What's your favourite drink?</p>
<p></p>
<p>Sarah: I like apple juice the best.</p>
<p></p>
<p>John: And one last question are you hungry right now?</p>
<p></p>
<p>Sarah: Yes! All this talk about food has made me really hungry!.</p>
<p></p>
<p>John: Thanks for answering my questions.</p>

<p>Sarah: It's my pleasure.</p>

</div>

<div class="container">

<h2>Conversation 2</h2>
<p>Ploy: Hi Tubtim, how are you?</p>
<p></p>
<p>Tubtim: I'm very well thanks.</p>
<p></p>
<p>Ploy: Good. What song are you listening to?</p>
<p></p>
<p>Tubtim: It's the new single by the band 'The Stone Roses'.</p>
<p></p>
<p>Ploy: What's it called?</p>
<p></p>
<p>Tubtim: The name of the song is 'Love Spreads'.</p>
<p></p>
<p>Ploy: What kind of song is it?</p>
<p></p>
<p>Tubtim: It's a rock song.</p>
<p></p>
<p>Ploy: What's it about?</p>
<p></p>
<p>Tubtim: It's about a boyfriend and a girlfriend.</p>
<p></p>
<p>Ploy: What do you like about it?</p>
<p></p>
<p>Tubtim: The chorus is very good.</p>
<p></p>
<p>Ploy: What don't you like about it?</p>
<p></p>
<p>Tubtim: There are too many verses and they are too long.</p>
<p></p>
<p>Ploy: What can you see in the video?</p>
<p></p>
Tubtim: It shows a big party with lots of people dancing. One of them is in the swimming pool and <p>singing the song.</p>
<p></p>
<p>Ploy: How long is it?</p>
<p></p>
<p>Tubtim: It's quite short. It's only about three minutes long.</p>
<p></p>
<p>Ploy: What do you think about it?.</p>

<p>Tubtim: It's OK, but it was boring to listen to after the first few times.</p>


</div>

<div class="container">
<h2>Part 3</h2>
<p>
There are dangers around us every day, Did you know that every year, about 100 Americans choke on their ballpoint pens? Well, it's true, Children can also choke on candy and toys. </p>

<p>To prevent choking in the home, keep small things like coins off the floor and out of reach of children</p>

<p>If you are choking, you can make the universal choking sign by putting your hands around your throat.</p>
<p>
If someone is choking, you should give them first aid. Stand behind the person and wrap your arms around their waist.Give thrusts slightly above the belly button to force out the object that they are choking on.

</p>
</div>

<div class="container">
	<h2>Part 4</h2>
	<p>
There are advantages and disadvantages to having a weekend job. One advantage is that we can make money.</p>


<p>Another benefit is that we can learn about work. A big disadvantage is that we have less free time to do the things we want with our friends</p>

<p>Another problem is that we can get too tired. On balance, I think that it's good to have a weekend job.

</p>




<div class="row bottom-links">

 

    <div class="col-md-4">
      
      <%= link_to "Home", page_path('home'), :class=>"btn btn-lg btn-link" %>
    
    </div>

</div>
</div>
