<div class="container">

<div class="conversation">
  <p>There are advantages and disadvantages to having a weekend job. One advantage is that we can make money.</p>
  <p>Another benefit is that we can learn about work. A big disadvantage is that we have less free time to do the things we want with our friends</p>
  <p>Another problem is that we can get too tired. On balance, I think that it's good to have a weekend job.</p>
</div>



<div class="row bottom-links">
    <div class="col-md-4">
      <%= link_to "Back", page_path('3_part3'), :class=>"btn" %>
    </div>

    <div class="col-md-4">
      <%= link_to "Home", page_path('home'), :class=>"btn" %>
    </div>
    
    <div class="col-md-4">
      <%= link_to "Part 5", page_path('3_part5'), :class=>"btn" %>
    </div>

</div>

</div>