<div class="container">
	<div class="card">
		<table>
			<tr>
				<td>disgusting</td>
				<td>bootleg</td>
				<td>massive</td>
				<td>---</td>
			</tr>

			<tr>
				<td>frost</td>
				<td>sightseeing</td>
				<td>explore</td>
				<td>erosion</td>
			</tr>

			<tr>
				<td>swat</td>
				<td>weird</td>
				<td>clone</td>
				<td>----------</td>
			</tr>

			<tr>
				<td>-----</td>
				<td>------</td>
				<td>------</td>
				<td>------</td>
			</tr>
		
		</table>
	</div>


	<div class="card">
<ul>

<li>To make an exact copy of something
		<select>
			<option value="">-----</option>
  		<option value="gills">Gills</option>
 			<option value="fins">Fins</option>
 			<option value="cartilage">Cartilage</option>
 	 		<option value="bones">Bones</option>
		</select>
</li>

<li>If something is strange or unusual it is
		<select>
			<option value="">-----</option>
  		<option value="gills">Gills</option>
 			<option value="fins">Fins</option>
 			<option value="cartilage">Cartilage</option>
 	 		<option value="bones">Bones</option>
		</select>
</li>

<li>Sometimes you have to ______ a fly or wasp.
		<select>
			<option value="">-----</option>
  		<option value="gills">Gills</option>
 			<option value="fins">Fins</option>
 			<option value="cartilage">Cartilage</option>
 	 		<option value="bones">Bones</option>
		</select>
</li>

<li>People who live near rivers and the sea can have problems because of ______ of the land by water 
		<select>
			<option value="">-----</option>
  		<option value="gills">Gills</option>
 			<option value="fins">Fins</option>
 			<option value="cartilage">Cartilage</option>
 	 		<option value="bones">Bones</option>
		</select>
</li>

<li>People will one day travel to other planets and ______ space.
		<select>
			<option value="">-----</option>
  		<option value="gills">Gills</option>
 			<option value="fins">Fins</option>
 			<option value="cartilage">Cartilage</option>
 	 		<option value="bones">Bones</option>
		</select>
</li>

<li>People on holiday like to look at interesting places, this is called
		<select>
			<option value="">-----</option>
  		<option value="gills">Gills</option>
 			<option value="fins">Fins</option>
 			<option value="cartilage">Cartilage</option>
 	 		<option value="bones">Bones</option>
		</select>
</li>

<li>In the very cold weather, __________ sometimes appears on the ground overnight. 
		<select>
			<option value="">-----</option>
  		<option value="gills">Gills</option>
 			<option value="fins">Fins</option>
 			<option value="cartilage">Cartilage</option>
 	 		<option value="bones">Bones</option>
		</select>
</li>

<li>Very very very big
		<select>
			<option value="">-----</option>
  		<option value="gills">Gills</option>
 			<option value="fins">Fins</option>
 			<option value="cartilage">Cartilage</option>
 	 		<option value="bones">Bones</option>
		</select>
</li>

<li>Fake of counterfeit 
		<select>
			<option value="">-----</option>
  		<option value="gills">Gills</option>
 			<option value="fins">Fins</option>
 			<option value="cartilage">Cartilage</option>
 	 		<option value="bones">Bones</option>
		</select>
</li>

<li>The opposite of delicious
		<select>
			<option value="">-----</option>
  		<option value="gills">Gills</option>
 			<option value="fins">Fins</option>
 			<option value="cartilage">Cartilage</option>
 	 		<option value="bones">Bones</option>
		</select>
</li>



</ul>

</div>

<div class="row bottom-links">
    <div class="col-md-4">
      <%= link_to "Back", page_path('3_part4'), :class=>"btn" %>
    </div>

    <div class="col-md-4">
      <%= link_to "Home", page_path('home'), :class=>"btn" %>
    </div>
    
    <div class="col-md-4">
      <%= link_to "All Parts", page_path('3_complete'), :class=>"btn" %>
    </div>

</div>

</div>