<div class="container">
	




<div class="conversation">
  <p><b>John:</b> 
  Which state of the USA is Los Angeles in?</p>
</div>

<div class="conversation darker">
  <p><b>Sarah:</b>
  It's in California</p>
</div>

<div class="conversation">
  <p><b>John:</b> 
  Do you know anyone who's been there</p>
</div>

<div class="conversation darker">
  <p><b>Sarah:</b>
  Yes my cousin went there six months ago</p>
</div>

<div class="conversation">
  <p><b>John:</b> 
  What would you do if you visited there</p>
</div>

<div class="conversation darker">
  <p><b>Sarah:</b>
  I'd hang out in the city and look for celebrities</p>
</div>

<div class="conversation">
  <p><b>John:</b> 
  Who would you like to go there with</p>
</div>

<div class="conversation darker">
  <p><b>Sarah:</b>
  I'd like to go with my brother and sister</p>
</div>

<div class="conversation">
  <p><b>John:</b> 
  Where else in the us would you like to go to</p>
</div>

<div class="conversation darker">
  <p><b>Sarah:</b>
  I'd love to visit Seattle because it looks awesome</p>
</div>

<div class="conversation darker">
  <p>There are dangers around us every day, Did you know that every year, about 100 Americans choke on their ballpoint pens? Well, it's true, Children can also choke on candy and toys. To prevent choking in the home, keep small things like coins off the floor and out of reach of children</p>

  <p>If you are choking, you can make the universal choking sign by putting your hands around your throat.</p>

  <p>If someone is choking, you should give them first aid. Stand behind the person and wrap your arms around their waist.Give thrusts slightly above the belly button to force out the object that they are choking on.</p>
</div>

<div class="row bottom-links">
    <div class="col-md-4">
      <%= link_to "Back", page_path('3_part2'), :class=>"btn" %>
    </div>

    <div class="col-md-4">
      <%= link_to "Home", page_path('home'), :class=>"btn" %>
    </div>
    
    <div class="col-md-4">
      <%= link_to "Part 4", page_path('3_part4'), :class=>"btn" %>
    </div>

</div>



</div>