
<div class="container">

<div class="conversation">
  <p><b>John:</b> 
  Hi Sarah. I have some questions for you about food and drink, is that ok?</p>
</div>

<div class="conversation darker">
  <p><b>Sarah:</b>
  Yes, of course. Ask me anything at all.</p>
</div>

<div class="conversation">
  <p><b>John:</b> 
  OK, first, what kind of food do you like?</p>
</div>

<div class="conversation darker">
  <p><b>Sarah:</b>
  I really like sandwiches and I love curry.</p>
</div>

<div class="conversation">
  <p><b>John:</b> 
  And, what kind of food don't you like?</p>
</div>

<div class="conversation darker">
  <p><b>Sarah:</b>
  I don't like fish and I don't like cheese.</p>
</div>

<div class="conversation">
  <p><b>John:</b> 
  Do you prefer eating at home or eating out?</p>
</div>

<div class="conversation darker">
  <p><b>Sarah:</b>
  I like eating at home best. It's more comfortable. But I go to restaurants sometimes.</p>
</div>

<div class="conversation">
  <p><b>John:</b> 
  What's your favourite restaurant?</p>
</div>

<div class="conversation darker">
  <p><b>Sarah:</b>
  It's an Indian restaurant in the mall called Curry Heaven.</p>
</div>

<div class="conversation">
  <p><b>John:</b> 
  Who do you eat out with?</p>
</div>

<div class="conversation darker">
  <p><b>Sarah:</b>
  Usually with my family and neighbours.</p>
</div>

<div class="conversation">
  <p><b>John:</b> 
  What's your favourite dessert?</p>
</div>

<div class="conversation darker">
  <p><b>Sarah:</b>
  Probably strawberry ice cream!</p>
</div>

<div class="conversation">
  <p><b>John:</b> 
  What's your favourite drink?</p>
</div>

<div class="conversation darker">
  <p><b>Sarah:</b>
  I like apple juice the best.</p>
</div>

<div class="conversation">
  <p><b>John:</b> 
  And one last question are you hungry right now?</p>
</div>

<div class="conversation darker">
  <p><b>Sarah:</b>
  Yes! All this talk about food has made me really hungry!.</p>
</div>

<div class="conversation">
  <p><b>John:</b> 
  Thanks for answering my questions.</p>
</div>

<div class="conversation darker">
  <p><b>Sarah:</b>
   It's my pleasure.</p>
</div>

<div class="row bottom-links">
    <div class="col-md-4">
      <%= link_to "Back", 'm3_menu', :class=>"btn" %>
    </div>

    <div class="col-md-4">
      <%= link_to "Home", '../home', :class=>"btn" %>
    </div>
    
    <div class="col-md-4">
      <%= link_to "Part 2", 'part2', :class=>"btn" %>
    </div>

</div>

</div>