
<div class="container">

<div class="conversation">
  <p><b>Ploy:</b> 
  Hi Tubtim, how are you?</p>
</div>

<div class="conversation darker">
  <p><b>Tubtim:</b>
  I'm very well thanks.</p>
</div>

<div class="conversation">
  <p><b>Ploy:</b> 
  Good. What song are you listening to?</p>
</div>

<div class="conversation darker">
  <p><b>Tubtim:</b>
  It's the new single by the band 'The Stone Roses'.</p>
</div>

<div class="conversation">
  <p><b>Ploy:</b> 
  What's it called?</p>
</div>

<div class="conversation darker">
  <p><b>Tubtim:</b>
  The name of the song is 'Love Spreads'.</p>
</div>

<div class="conversation">
  <p><b>Ploy:</b> 
  What kind of song is it?</p>
</div>

<div class="conversation darker">
  <p><b>Tubtim:</b>
  It's a rock song.</p>
</div>

<div class="conversation">
  <p><b>Ploy:</b> 
  What's it about?</p>
</div>

<div class="conversation darker">
  <p><b>Tubtim:</b>
  It's about a boyfriend and a girlfriend.</p>
</div>

<div class="conversation">
  <p><b>Ploy:</b> 
  What do you like about it?</p>
</div>

<div class="conversation darker">
  <p><b>Tubtim:</b>
  The chorus is very good.</p>
</div>

<div class="conversation">
  <p><b>Ploy:</b> 
  What don't you like about it?</p>
</div>

<div class="conversation darker">
  <p><b>Tubtim:</b>
  There are too many verses and they are too long.</p>
</div>

<div class="conversation">
  <p><b>Ploy:</b> 
  What can you see in the video?</p>
</div>

<div class="conversation darker">
  <p><b>Tubtim:</b>
  It shows a big party with lots of people dancing. One of them is in the swimming pool and singing the song.</p>
</div>

<div class="conversation">
  <p><b>Ploy:</b> 
  How long is it?</p>
</div>

<div class="conversation darker">
  <p><b>Tubtim:</b>
  It's quite short. It's only about three minutes long.</p>
</div>

<div class="conversation">
  <p><b>Ploy:</b> 
  What do you think about it?.</p>
</div>

<div class="conversation darker">
  <p><b>Tubtim:</b>
  It's OK, but it was boring to listen to after the first few times.</p>
</div>





<div class="row bottom-links">
    <div class="col-md-4">
      <%= link_to "Back", page_path('3_part1'), :class=>"btn" %>
    </div>

    <div class="col-md-4">
      <%= link_to "Home", page_path('home'), :class=>"btn" %>
    </div>
    
    <div class="col-md-4">
      <%= link_to "Part 3", page_path('3_part3'), :class=>"btn" %>
    </div>

</div>



</div>