<div class="container">
	
<div class="section-title">
  <h3>Section 2: Completing a  text</h3>
  <p>Fill in the gaps in this text about choking.</p>

</div>   





<div class="conversation darker">
  <p>There are dangers around us every day, Did you know that every year, about 100 Americans choke on their ballpoint pens? Well, it's true, Children can also choke on candy and toys.<i> To prevent choking in the home</i>, keep small things like coins off the floor and <i>out of reach</i> of children</p>

  <p>If you are choking, you can make the <i>universal choking sign</i> by putting your hands around your throat.</p>

  <p>If someone is choking, you should give them <i>first aid</i>. Stand behind the person and wrap your arms around their waist. Give thrusts slightly above the belly button to<i> force out the object</i> that they are choking on.</p>
</div>

<div class="row bottom-links">
    <div class="col-md-4">
      <%= link_to "Back", page_path('3_part2'), :class=>"btn btn-lg btn-link" %>
    </div>

    <div class="col-md-4">
      <%= link_to "Home", page_path('home'), :class=>"btn btn-lg btn-link" %>
    </div>
    
    <div class="col-md-4">
      <%= link_to "Part 4", page_path('3_part4'), :class=>"btn btn-lg btn-link" %>
    </div>

</div>



</div>