<div class="container">

<h3>Conversation 1</h3>	

<p>John: Hi Sarah. I have some questions for you about travelling, is that ok?</p>
<p></p>
<p>Sarah: Sure! I love travelling. Fire away.</p>
<p></p>
<p>John: OK, first, do you prefer travelling to cities or to the coutryside?</p>
<p></p>
<p>Sarah: Cities, definately. I think they are exciting.</p>
<p></p>
<p>John: What do you like to see when you travel?</p>
<p></p>
<p>Sarah: Art galleries, shopping malls, museums, things like that.</p>
<p></p>
<p>John: Who do you like to travel with?</p>
<p></p>
<p>Sarah: With my girlfriend.</p>
<p></p>
<p>John: What souvenirs do you like to buy?</p>
<p></p>
<p>Sarah: Things that have the name of the place that I'm visiting on, like T-shirts or baseball caps.</p>
<p></p>
<p>John: Where's the best place you've ever travelled to?</p>
<p></p>
<p>Sarah: Tokyo, it's such a great city. I had a lot of fun there.</p>
<p></p>
<p>John: What's the furthest that you've ever travelled from your home?</p>
<p></p>
<p>Sarah: I went to London once, that's a very long way from Thailand!</p>
<p></p>
<p>John: Where was the last place that you visited?</p>
<p></p>
<p>Sarah: I went to Chiang Mai last month. It was really beautiful.</p>
<p></p>
<p>John: And lastly, Where would you most like to travel to?</p>
<p></p>
<p>Sarah: That's a good question. I'd love to go to Korea.</p>
<p></p>
<p>John: Well, I'm sure you'll get the chance to go there one day. Thanks for answering my questions.</p>
<p></p>
<p>Sarah: You're welcome.</p>
<p></p>
<p></p>

<h3>Conversation 2</h3>
<p></p>
<p>Ploy: Have you ever been to a big concert Tubtim?</p>
<p></p>
<p>Tubtim: Yes, I have. I went to see Adele, the British singer.</p>
<p></p>
<p>Ploy: What was the name of the tour?</p>
<p></p>
<p>Tubtim: It was called the Adele in person tour.</p>
<p></p>
<p>Ploy: And what was the name of the concert?</p>
<p></p>
<p>Tubtim: It was called Adele - One night in Bangkok..</p>
<p></p>
<p>Ploy: How many people went to the concert?</p>
<p></p>
<p>Tubtim: About 25,000 people were there.</p>
<p></p>
<p>Ploy: What was it like?</p>
<p></p>
<p>Tubtim: It was amazing. She sings really well and knows how to work the crowd.</p>
<p></p>
<p>Ploy: That sounds good, what did you like most about the concert?</p>
<p></p>
<p>Tubtim: My favourite part was the acoustic session. She just sang straight to the crowd with no instruments.</p>
<p></p>
<p>Ploy: What song did the crowd really want to hear?</p>
<p></p>
<p>Tubtim: They wanted 'Someone like you' most.</p>
<p></p>
<p>Ploy: What did the fans do when she sang that one?</p>
<p></p>
<p>Tubtim: They cheered, some people sang too.</p>
<p></p>
<p>Ploy: What didn't you like about the gig?</p>
<p></p>
<p>Tubtim: The audio was pretty poor in our section, but it was still worth going.</p>
<p></p>
<p>Ploy: Would you go and see her again?.</p>
<p></p>
<p>Tubtim: Oh yes, I hope that she'll be even better when she comes back next time.</p>
<p></p>
<p>Ploy: I hope so too, Maybe I can come with you.</p>
<p></p>
<p></p>
<h3>Conversation 3</h3>
<p></p>
<p>John: Which state of the USA is Los Angeles in?</p>
<p></p>
<p>Sarah: It's in California</p>
<p></p>
<p>John: Do you know anyone who's been there</p>
<p></p>
<p>Sarah: Yes my cousin went there six months ago</p>
<p></p>
<p>John: What would you do if you visited there</p>
<p></p>
<p>Sarah: I'd hang out in the city and look for celebrities</p>
<p></p>
<p>John: Who would you like to go there with</p>
<p></p>
<p>Sarah: I'd like to go with my brother and sister</p>
<p></p>
<p>John: Where else in the us would you like to go to</p>
<p></p>
<p>Sarah: I'd love to visit Seattle because it looks awesome</p>
<p></p>
<h3>Talking about topics</h3>
<p></p>
<p>If I won a lot of money, I'd have a big party.</p>
<p></p>
<p>If I could run really fast. I'd win an Olympic medal.</p>
<p></p>
<p>I wish I lived near the sea.</p>
<p></p>
<p>I'd swim in it</p> every day.
<p>
<p>I wish I could sing really well.
<p>
I'd become a famous singer.</p>

<h3>Vocabulary Words</h3>
<ol>
	<li>Gills</li>
	<li>Apex Predator</li>
	<li>Stand-up Comedy</li>
	<li>Extinct</li>
	<li>Superpower</li>
	<li>Food Chain</li>
	<li>Fin</li>
	<li>Poke</li>
	<li>Crustaceans</li>
	<li>Texture</li>
	<li>Cartilage</li>
	<li>Promenade</li>
	<li>Pier</li>
	<li>Wish</li>
	<li>Hypothesize</li>
	

</ol>


</p>
</div>