
<div class="container">

<div class="conversation">
  <p><b>Toey:</b> 
  Hi Film. I have some questions for you about travelling, is that ok?</p>
</div>

<div class="conversation darker">
  <p><b>Film:</b>
  Sure! I love travelling. Fire away.</p>
</div>

<div class="conversation">
  <p><b>Toey:</b> 
  OK, first,  do you prefer travelling to cities or to the countryside?</p>
</div>

<div class="conversation darker">
  <p><b>Film:</b>
  Cities, definately. I think they are exciting.</p>
</div>

<div class="conversation">
  <p><b>Toey:</b> 
  What do you like to see when you travel?</p>
</div>

<div class="conversation darker">
  <p><b>Film:</b>
  Art galleries, shopping malls, museums, things like that.</p>
</div>

<div class="conversation">
  <p><b>Toey:</b> 
  Who do you like to travel with?</p>
</div>

<div class="conversation darker">
  <p><b>Film:</b>
  With my girlfriend.</p>
</div>

<div class="conversation">
  <p><b>Toey:</b> 
  What souvenirs do you like to buy?</p>
</div>

<div class="conversation darker">
  <p><b>Film:</b>
  Things that have the name of the place that I'm visiting on, like T-shirts or baseball caps.</p>
</div>

<div class="conversation">
  <p><b>Toey:</b> 
  Where's the best place you've ever travelled to?</p>
</div>

<div class="conversation darker">
  <p><b>Film:</b>
  Tokyo, it's such a great city. I had a lot of fun there.</p>
</div>

<div class="conversation">
  <p><b>Toey:</b> 
  What's the furthest that you've ever travelled from your home?</p>
</div>

<div class="conversation darker">
  <p><b>Film:</b>
  I went to London once, that's a very long way from Thailand!</p>
</div>

<div class="conversation">
  <p><b>Toey:</b> 
  Where was the last place that you visited?</p>
</div>

<div class="conversation darker">
  <p><b>Film:</b>
  I went to Chiang Mai last month. It was really beautiful.</p>
</div>

<div class="conversation">
  <p><b>Toey:</b> 
  And lastly, Where would you most like to travel to?</p>
</div>

<div class="conversation darker">
  <p><b>Film:</b>
  That's a good question. I'd love to go to Korea.</p>
</div>

<div class="conversation">
  <p><b>Toey:</b> 
  Well, I'm sure you'll get the chance to go there one day. Thanks for answering my questions.</p>
</div>

<div class="conversation darker">
  <p><b>Film:</b>
  You're welcome.</p>
</div>

<div class="row bottom-links">
    <div class="col-md-4">
      <%= link_to "Back", page_path('6_home'), :class=>"btn" %>
    </div>

    <div class="col-md-4">
      <%= link_to "Home", page_path('home'), :class=>"btn" %>
    </div>
    
    <div class="col-md-4">
      <%= link_to "Part 2", page_path('6_part2'), :class=>"btn" %>
    </div>

</div>

</div>