
<div class="container">

<div class="conversation">
  <p><b>Ploy:</b> 
  Have you ever been to a big concert Tubtim?</p>
</div>

<div class="conversation darker">
  <p><b>Tubtim:</b>
  Yes, I have. I went to see Adele, the British singer.</p>
</div>

<div class="conversation">
  <p><b>Ploy:</b> 
  What was the name of the tour?</p>
</div>

<div class="conversation darker">
  <p><b>Tubtim:</b>
  It was called the <i>Adele in person</i> tour.</p>
</div>

<div class="conversation">
  <p><b>Ploy:</b> 
  And what was the name of the concert?</p>
</div>

<div class="conversation darker">
  <p><b>Tubtim:</b>
  It was called <i>Adele - One night in Bangkok.</i>.</p>
</div>

<div class="conversation">
  <p><b>Ploy:</b> 
  How many people went to the concert?</p>
</div>

<div class="conversation darker">
  <p><b>Tubtim:</b>
  About 25,000 people were there.</p>
</div>

<div class="conversation">
  <p><b>Ploy:</b> 
  What was it like?</p>
</div>

<div class="conversation darker">
  <p><b>Tubtim:</b>
  It was amazing. She sings really well and knows how to work the crowd.</p>
</div>

<div class="conversation">
  <p><b>Ploy:</b> 
  That sounds good, what did you like most about the concert?</p>
</div>

<div class="conversation darker">
  <p><b>Tubtim:</b>
  My favourite part was the acoustic session. She just sang straight to the crowd with no instruments.</p>
</div>

<div class="conversation">
  <p><b>Ploy:</b> 
  What song did the crowd really want to hear?</p>
</div>

<div class="conversation darker">
  <p><b>Tubtim:</b>
  They wanted 'Someone like you' most.</p>
</div>

<div class="conversation">
  <p><b>Ploy:</b> 
  What did the fans do when she sang that one?</p>
</div>

<div class="conversation darker">
  <p><b>Tubtim:</b>
  They cheered, some people sang too.</p>
</div>

<div class="conversation">
  <p><b>Ploy:</b> 
  What didn't you like about the gig?</p>
</div>

<div class="conversation darker">
  <p><b>Tubtim:</b>
  The audio was pretty poor in our section, but it was still worth going.</p>
</div>

<div class="conversation">
  <p><b>Ploy:</b> 
  Would you go and see her again?.</p>
</div>

<div class="conversation darker">
  <p><b>Tubtim:</b>
  Oh yes, I hope that she'll be even better when she comes back next time.</p>
</div>


<div class="conversation">
  <p><b>Ploy:</b> 
  I hope so too, Maybe I can come with you.</p>
</div>

  <div class="row bottom-links">
    <div class="col-md-4">
      <%= link_to "Back", 'part1', :class=>"btn" %>
    </div>

    <div class="col-md-4">
      <%= link_to "Home", '../home', :class=>"btn" %>
    </div>
    
    <div class="col-md-4">
      <%= link_to "Part 3", 'part3', :class=>"btn" %>
    </div>

</div>




</div>