
<div class="container">

<div class="section-title">
  <h3>Section 1: Conversation 1</h3>
  <p>Toey and Film are talking.</p>

</div> 
<div class="conversation">
  <p><b>Toey:</b> 
  Hi Film. <span class="answer">I have some questions for you about travelling,</span> is that ok?</p>
</div>

<div class="conversation darker">
  <p><b>Film:</b>
  Sure! I love travelling. Fire away.</p>
</div>

<div class="conversation">
  <p><b>Toey:</b> 
  OK, first, <span class="answer"> do you prefer travelling to  cities or to the countryside?</span></p>
</div>

<div class="conversation darker">
  <p><b>Film:</b>
  Cities, definitely. I think they are exciting.</p>
</div>

<div class="conversation">
  <p><b>Toey:</b> 
  <span class="answer"> What do you like to see  when you travel? </span></p>
</div>

<div class="conversation darker">
  <p><b>Film:</b>
  Art galleries, shopping malls, museums, things like that.</p>
</div>

<div class="conversation">
  <p><b>Toey:</b> 
  <span class="answer"> Who do you like to travel with?</span></p>
</div>

<div class="conversation darker">
  <p><b>Film:</b>
  With my girlfriend.</p>
</div>

<div class="conversation">
  <p><b>Toey:</b> 
  <span class="answer">What souvenirs do you like to buy?</span></p>
</div>

<div class="conversation darker">
  <p><b>Film:</b>
  Things that have the name of the place that I'm visiting on, like T-shirts or baseball caps.</p>
</div>

<div class="conversation">
  <p><b>Toey:</b> 
  <span class="answer">Where's the best place  you've ever travelled to?</span></p>
</div>

<div class="conversation darker">
  <p><b>Film:</b>
  Tokyo, it's such a great city. I had a lot of fun there.</p>
</div>

<div class="conversation">
  <p><b>Toey:</b> 
  <span class="answer"> What's the furthest that you've ever travelled from your home?</span></p>
</div>

<div class="conversation darker">
  <p><b>Film:</b>
  I went to London once, that's a very long way from Thailand!</p>
</div>

<div class="conversation">
  <p><b>Toey:</b> 
  <span class="answer"> Where was the last place  that you visited?</span></p>
</div>

<div class="conversation darker">
  <p><b>Film:</b>
  I went to Chiang Mai last month. It was really beautiful.</p>
</div>

<div class="conversation">
  <p><b>Toey:</b> 
  And lastly, <span class="answer">Where would you most like to travel to?</span></p>
</div>

<div class="conversation darker">
  <p><b>Film:</b>
  That's a good question. I'd love to go to Korea.</p>
</div>

<div class="conversation">
  <p><b>Toey:</b> 
  Well, I'm sure you'll get the chance to go there one day. <span class="answer">Thanks for answering the questions.</span></p>
</div>

<div class="conversation darker">
  <p><b>Film:</b>
  You're welcome.</p>
</div>

<div class="row bottom-links">
    <div class="col-md-4">
      
        <%= link_to "Back", page_path('6_home'), :class=>"btn btn-lg btn-link" %>
      
    </div>

    <div class="col-md-4">
      
        <%= link_to "Home", page_path('home'), :class=>"btn btn-lg btn-link" %>
        
    </div>
    
    <div class="col-md-4">
     
        <%= link_to "Part 2", page_path('6_part2'), :class=>"btn btn-lg btn-link" %>
      
    </div>

</div>

</div>