<div class="container">

<div class="section-title">
  <h3>Section 2: Talking about topics</h3>
  <p>Hypothesizing about the future</p>

</div>   



<div class="conversation darker">
  <p>If I won a lot of money, I'd have a big party.</p>
</div>

<div class="conversation darker">
  <p>If I could run really fast. I'd win an Olympic medal.</p>
</div>

<div class="conversation darker">
  <p>I wish I lived near the sea.</p>
</div>

<div class="conversation darker">
  <p>I'd swim in it every day.</p>
</div>

<div class="conversation darker">
  <p>I wish I could sing really well.</p>
</div>

<div class="conversation  darker">
  <p>I'd become a famous singer.</p>
</div>


	<div class="row bottom-links">
    <div class="col-md-4">
      
        <%= link_to "Back", page_path('6_part3'), :class=>"btn btn-lg btn-link" %>
      
    </div>

    <div class="col-md-4">
     
        <%= link_to "Home", page_path('home'), :class=>"btn btn-lg btn-link" %>
        
    </div>
    
    <div class="col-md-4">
      
       <%= link_to "Part 5", page_path('6_part5'), :class=>"btn btn-lg btn-link" %>
      
    </div>

</div>

</div>