<div class="container">
	<div class="card">
		<table>
			<tr>
				<td>gills</td>
				<td>apex predator</td>
				<td>stand-up comedy</td>
				<td>---</td>
			</tr>

			<tr>
				<td>extinct</td>
				<td>superpower</td>
				<td>food chain</td>
				<td>Fin</td>
			</tr>

			<tr>
				<td>poke</td>
				<td>crustaceans</td>
				<td>texture</td>
				<td>Cartilage</td>
			</tr>

			<tr>
				<td>promenade</td>
				<td>Pier</td>
				<td>Wish</td>
				<td>Hypothesize</td>
			</tr>
		
		</table>
	</div>


	<div class="card">
<ul>

<li>Fish breath through their 
		<select>
			<option value="">-----</option>
  		<option value="gills">Gills</option>
 			<option value="fins">Fins</option>
 			<option value="cartilage">Cartilage</option>
 	 		<option value="bones">Bones</option>
		</select>
</li>

<li>Fish breath through their 
		<select>
			<option value="">-----</option>
  		<option value="gills">Gills</option>
 			<option value="fins">Fins</option>
 			<option value="cartilage">Cartilage</option>
 	 		<option value="bones">Bones</option>
		</select>
</li>

<li>Fish breath through their 
		<select>
			<option value="">-----</option>
  		<option value="gills">Gills</option>
 			<option value="fins">Fins</option>
 			<option value="cartilage">Cartilage</option>
 	 		<option value="bones">Bones</option>
		</select>
</li>

<li>Fish breath through their 
		<select>
			<option value="">-----</option>
  		<option value="gills">Gills</option>
 			<option value="fins">Fins</option>
 			<option value="cartilage">Cartilage</option>
 	 		<option value="bones">Bones</option>
		</select>
</li>

<li>Fish breath through their 
		<select>
			<option value="">-----</option>
  		<option value="gills">Gills</option>
 			<option value="fins">Fins</option>
 			<option value="cartilage">Cartilage</option>
 	 		<option value="bones">Bones</option>
		</select>
</li>

<li>Fish breath through their this is a test of a longer question as some of
		them can be really long.
		<select>
			<option value="">-----</option>
  		<option value="gills">Gills</option>
 			<option value="fins">Fins</option>
 			<option value="cartilage">Cartilage</option>
 	 		<option value="bones">Bones</option>
		</select>
</li>

<li>Fish breath through their 
		<select>
			<option value="">-----</option>
  		<option value="gills">Gills</option>
 			<option value="fins">Fins</option>
 			<option value="cartilage">Cartilage</option>
 	 		<option value="bones">Bones</option>
		</select>
</li>

<li>Fish breath through their 
		<select>
			<option value="">-----</option>
  		<option value="gills">Gills</option>
 			<option value="fins">Fins</option>
 			<option value="cartilage">Cartilage</option>
 	 		<option value="bones">Bones</option>
		</select>
</li>

<li>Fish breath through their 
		<select>
			<option value="">-----</option>
  		<option value="gills">Gills</option>
 			<option value="fins">Fins</option>
 			<option value="cartilage">Cartilage</option>
 	 		<option value="bones">Bones</option>
		</select>
</li>

<li>Fish breath through their 
		<select>
			<option value="">-----</option>
  		<option value="gills">Gills</option>
 			<option value="fins">Fins</option>
 			<option value="cartilage">Cartilage</option>
 	 		<option value="bones">Bones</option>
		</select>
</li>

<li>Fish breath through their 
		<select>
			<option value="">-----</option>
  		<option value="gills">Gills</option>
 			<option value="fins">Fins</option>
 			<option value="cartilage">Cartilage</option>
 	 		<option value="bones">Bones</option>
		</select>
</li>

</ul>

</div>

	<div class="row bottom-links">
    <div class="col-md-4">
      <%= link_to "Back", page_path('6_part4'), :class=>"btn" %>
    </div>

    <div class="col-md-4">
      <%= link_to "Home", page_path('home'), :class=>"btn" %>
    </div>
    
    <div class="col-md-4">
      <%= link_to "All Parts", page_path('6_complete'), :class=>"btn" %>
    </div>

</div>

</div>