<div class="container">
	




<div class="conversation">
  <p><b>Fon:</b> 
  Which state of the USA is Los Angeles in?</p>
</div>

<div class="conversation darker">
  <p><b>Pang:</b>
  It's in California</p>
</div>

<div class="conversation">
  <p><b>Fon:</b> 
  Do you know anyone who's been there</p>
</div>

<div class="conversation darker">
  <p><b>Pang:</b>
  Yes my cousin went there six months ago</p>
</div>

<div class="conversation">
  <p><b>Fon:</b> 
  What would you do if you visited there</p>
</div>

<div class="conversation darker">
  <p><b>Pang:</b>
  I'd hang out in the city and look for celebrities</p>
</div>

<div class="conversation">
  <p><b>Fon:</b> 
  Who would you like to go there with</p>
</div>

<div class="conversation darker">
  <p><b>Pang:</b>
  I'd like to go with my brother and sister</p>
</div>

<div class="conversation">
  <p><b>Fon:</b> 
  Where else in the us would you like to go to</p>
</div>

<div class="conversation darker">
  <p><b>Pang:</b>
  I'd love to visit Seattle because it looks awesome</p>
</div>


  <div class="row bottom-links">

    <div class="col-md-4">
      <%= link_to "Back", page_path('6_part2'), :class=>"btn" %>
    </div>

    <div class="col-md-4">
      <%= link_to "Home", page_path('home'), :class=>"btn" %>
    </div>
    
    <div class="col-md-4">
      <%= link_to "Part 4", page_path('6_part4'), :class=>"btn" %>
    </div>

</div>


</div>