


	<div class="container">

		<div class="row">
			<button type="button" class="btn btn-lg btn-outline-primary btn-block">
				<%= link_to "About", 'pages/about' %>
			</button>
		</div>

		<div class="row">
			<button type="button" class="btn btn-lg btn-outline-primary btn-block">
				<%= link_to "M6", 'pages/m6/1' %>
			</button>
		</div>

	</div>

