


	<div class="container">


		<div class="row">
			<%= link_to "M3", '/pages/3_home', :class=>"btn btn-lg btn-outline-primary btn-block" %>
		</div>

		<div class="row">	
				<%= link_to "M6", 'pages/6_home', :class=>"btn btn-lg btn-outline-primary btn-block" %>
		</div>


	</div>

