/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */


// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";



body {
	padding-top: 40px;
}

table {
	width: 80%;
	border: 4px solid;
}

 th, td {
 	padding: 10px;
 }

 th {
 	border-top: 4px solid;
 	border-bottom: 4px solid;
 	text-align: center;
 }

 /*  conversation styles */

 .conversation {
 	border: 2px solid #dedede;
 	background-color: #f1f1f1;
 	border-radius: 5px;
 	padding: 10px;
 	margin: 10px 0;
 }

 .darker {
 	border-color: #ccc;
 	background-color: #ddd;
 }

 .conversation::after {
 	content: "";
 	clear: both;
 	display: table;
 }

 .section-title {
 	border: 2px solid #30424C;
 	background-color: #83B5D1;
 	border-radius: 5px;
 	padding: 10px;
 	padding-bottom: 15px;
 	margin: 10px 0;
 }

table {
	border: 2px solid #777677;
	padding: 10px;
	margin: 10px 0;

}

td {
	padding: 10px;
	font-size: 1.2em;
}

.questions {
	padding-top: 10px;
	border: 2px solid #777677;

	li {
		padding: 5px;
	}
}

.btn-primary, .btn-info {
	
	margin: 10px;
	padding: 10px;
}

.bottom-links {
	padding-top: 20px;
}

.btn {
	
	margin: 5px;
}

.btn-link {
	color: #30424C;
	background-color: #F9AB55;
}

.all_pages {
	font-size: 1.5em;
}
/*
.answer {
	font-weight: bold;
	font-size: 1.1em;

}

*/